:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* app/globals.css */
@import 'leaflet/dist/leaflet.css';

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* app/globals.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

main {
  padding: 0;
}

header {
  background-color: #001f3f;
  color: #ffffff;
  padding: 20px;
}

footer {
  background-color: #001f3f;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

h1,
h2,
h3 {
  color: #001f3f;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}